<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Codenames</title>
    <meta name="description" content="Index page">
    <meta name="author" content="mike706574">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column" style="margin-top: 1em">
          <h1>Codenames</h1>
          <form onsubmit="return joinGame();">
            <label for="id">Game</label>
            <input type="text" id="id" name="id" value="game" />
            <button type="submit" id="joinButton">Join</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      function joinGame() {
        var id = document.getElementById("id").value;
        window.location.href = window.location.href + id;
        return false;
      }
    </script>
  </body>
</html>
