<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Codenames - Not Found</title>
    <meta name="description" content="Not found page">
    <meta name="author" content="mike706574">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column" style="margin-top: 10%">
          <h1>Not Found</h1>
          <p>There's no page at the address you requested.</p>
        </div>
      </div>
    </div>
  </body>
</html>
